.App {
  text-align: center;
  position: relative;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
}

.hoverPoint {
  position: absolute;
  top: 105px;
}

svg {
  font-family: Sans-Serif, Arial;
}

.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: white;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}

h2,
h3,
p {
  margin-bottom: 0;
}

li {
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
}

li:hover {
  border-bottom: 1px solid black;
}

p {
  font-size: 20px;
  margin: 0;
}
